# Welcome to Python Programming Language
- pwd is used to know the present working directory
- control plus enter runs the command 
- "hash" is used for commenting which are not excuted by the python interpreter
- shift plus enter moves you to the next cell after runnning the command

In [36]:
pwd # displays the current working directory

'C:\\Users\\unico'

########### no of hasgtags is inversly proportional to the size of the text in Markdown 
########## no of hasgtags is inversly proportional to the size of the text in Markdown
######### no of hasgtags is inversly proportional to the size of the text in Markdown
######## no of hasgtags is inversly proportional to the size of the text in Markdown
###### no of hasgtags is inversly proportional to the size of the text 
###### no of hasgtags is inversly proportional to the size of the text 
#### no of hasgtags is inversly proportional to the size of the text 
## no of hasgtags is inversly proportional to the size of the text 
# no of hasgtags is inversly proportional to the size of the text

In [ ]:
# Heading 
- sub point
   - sub sub point

<img src = "img.png" Height = "25px" width = "29px" /> # used to insert image in markdown

- *hi check this out*
- **hi check this out**
- ***hi check this out***

In [19]:
print("welcome to python programming")

welcome to python programming

In [35]:
print("welcome to my world") # u can write multiple lines in a cell and then excute all at once
print("Happy to see you")

welcome to my world
Happy to see you

In [34]:
print('learn the proper formating') # single quote or double does the same job no difference 
print("cause the computer programming is very presice")

learn the proper formating
cause the computer programming is very presice

In [32]:
print("welcome to my world","Happy to see you") 
# "," can be used to arange multiple statements in a single line

welcome to my world Happy to see you

In [30]:
print("welcome to my world",end = "" ) # end is used to end the space between the ""
print ("Happy to see you")

welcome to my worldHappy to see you

# Input Functions

In [38]:
vk = input("Hi why dont your type something")
print(vk)
# input() function reads the data entered into it interms of string format

what should i type ?

In [42]:
name = input("type your name")
print("your name is :", name,"am i correct ?")

type your namevencut
your name is : vencut am i correct ?

# Data Types in Python
- int 
- float
- string

In [46]:
x = 100
print(x,type(x)) # , represents the concatination symbol and type represents the object data type

100 <class 'int'>

In [57]:
x = 100.02323500000
print(x,type(x)) # . seperating two number represents float data type
# here the interpreter does not return the zeros after the point
y = 100.0
print(y, type(y))   
# here it takes the data type as the float and returns one xero after decimal point

100.023235 <class 'float'>
100.0 <class 'float'>

In [50]:
s = "single coat"
print(s,type(s)) # single or double coat represents the string data type
v = "double coat"
print(v,type(v))
s = "d"
print(s,type(s)) # even single letter is taken as string data type

single coat <class 'str'>
double coat <class 'str'>
d <class 'str'>

# Data type conversion is called "Type casting"
- int() converts the given data type to integer
- float() converts the given data type to float
- str() converts the given data tyoe to string

In [74]:
s = "3526"
print(s,type(s))
v = int(s)
print(v,type(v))
print(s,type(s))
k = 3526
print(k,type(k))
# so here its clear that even if we convert the data type using type casting,
# only the data type that represents the conversion is converted but not the actual data

3526 <class 'str'>
3526 <class 'int'>
3526 <class 'str'>
3526 <class 'int'>

In [69]:
s = 43589
print(s,type(s))
v = float(s)
print(v,type(v)) 
print(s,type(s))

43589 <class 'int'>
43589.0 <class 'float'>
43589 <class 'int'>

In [73]:
i = 9274435792.3894502973
print(i,type(i))
c = int(i)
print(c,type(c))
# conversion of data type also modifies the data for which there could be changes -
# - in the results for certain mathematical functions

9274435792.38945 <class 'float'>
9274435792 <class 'int'>

# control statements 
- conditional statements
    - if-else statements
- looping statements
    - while
    - for

# Indentaion
- it is also an important concept in the python programming which concluedes the correct format
- and that the code written in the furthur lines belongo the same logic and not an another one
- in python indentation is represented by proper spacing and starting the new line right below or     - inside the existing logic

In [76]:
# Read the input as number as by default it considers as integer and test if its even or odd
name = input("type your name")
print(name,type(name))

type your name346590
346590 <class 'str'>

In [78]:
name = int(input("please enter a number")) # u can directly specify the data type of the input
print("the data type is :",type(name),"and the number is",name)

please enter a number8
the data type is : <class 'int'> and the number is 8

# Conditional statements
- If else statements

In [4]:
# identifying the input integer as even or odd 
num = int(input("type a number"))
if  num % 2 == 0: 
    print("its an even number right")
else:
    print("its an odd number i knew it",type(num))

type a number0
its an even number right

In [9]:
# taking two inputs and using a multiplication string
num1 = int(input("enter 1st number"))
num2 = int(input("enter 2nd number"))
if num1 > num2 :
    print (num1 * num1)
else :
    print (num2 * num2 )

ValueError: invalid literal for int() with base 10: ''

In [14]:
# take three inputs as integers and give the largest number as output
# the python interpreter cannot work with the value of  the input integer datatype 
# hence it has to be fed with every bit of instruction as below
# there is also something called as 'elif' means else if that can be used for multiple alternative
num1 = int(input("enter number one"))
num2 = int(input("enter number two"))
num3 = int(input('enter number three'))
if num1 > num2 and num1 > num3 :
    print(num1)
elif num2 > num1 and num2 > num3 :
    print(num2)
elif num3 > num1 and num3 > num2 :
    print(num3)

enter number one6785678
enter number two34534
enter number three34534
6785678

- Python supports words like "True" and "False" (case sensitive) and they beling to the data type
- called the "bool"

In [6]:
x = 10
cal = (x >= 100)
print(cal,type(cal))
if True :
    print("you are right")
else :
    print("iam right")

False <class 'bool'>
you are right

In [5]:
x = 10
cal = (x >= 100)
print(cal,type(cal))
# you can also self define the keyword by storing it in the variable like given below
true = True
if true :
    print("you are right")
else :
    print("iam right")

False <class 'bool'>
you are right

# Three types of words are used in python
- and (represented by symbol &&) 
- or (represented by symbol //) 
- not (represented by symbil !)
# Types of Operators
- "/" represents division returning the float value or decimal where as 
- "//" represents division returning the integer value or floor value
- "*" represents the multiplication value where as the 
- "**" represents the power of ()s = (2/4)

In [4]:
s = (2/4)
print(s)
v = (2//4)
print(v)
k = (2*4)
print(k)
g = (2**4)
print(g)

0.5
0
8
16

# Looping statements 
- while 
- for

"while" is used in boolian condition with the statements of incremental or decremental and also 
python does not support the ++ and -- conditions instead we need to write x+ = 1 and 
!= means a not equal to symbol

In [6]:
# read an input number n and the numbers from 1 to n
n = int(input("type any number"))
i = 1
while i <= n :
    print(i, end = "")
    i += 1

type any number6
123456

In [12]:
# Read the input as a number
# Print the output as factors of given number
n = int(input("write any number to get its factors : "))
i =1
while i <= n :
    if n % i == 0 :
        print(i,end = "")
    i += 1

write any number to get its factors : 9
139

In [16]:
# Read the input as a number
# Print the digits of the given number ie., 154 as 4 5 1
n = int(input())
while n != 0:
    print(n%10,end = "")
    n = n//10

6456
6546

In [19]:
# Read the input as a number
# Print the digits of the given number ie., 154 as four five one
n = int(input())
while n != 0:
    r = n % 10
    if r == 0:
        print("zero ", end = "")
    elif r == 1:
        print("one ", end = "")
    elif r == 2:
        print("two ", end = "")
    elif r == 3:
        print("three ", end = "")
    elif r == 4:
        print("four ", end = "")
    elif r == 5:
        print("five ", end = "")
    elif r == 6:
        print("six ", end = "")
    elif r == 7:
        print("seven ", end = "")
    elif r == 8:
        print("eight ", end = "")
    elif r == 9:
        print("nine ", end = "")
    n = n // 10

764053
three five zero four six seven

In [28]:
# Read the input as a number
# Print the highest and the lowest digits of the given number ie., 
# 15429370 as <0,9>
x = int(input("type any number"))
large,small = 0,9
while x != 0 :
    r = x % 10
    if r > large :
        large = r
    if r < small :
        small = r
    x = x // 10
print("<", large,",", small,">")

type any number3456789
< 9 , 3 >

In [2]:
# read the number as an input and print if its a palindrom(101,202 etc.,)
# storing the value of n in buffer because after the while loop n become 0
n = int(input("write the number"))
rev,buffer = 0,n
while n != 0:
    r = n % 10
    rev = rev*10 + r
    n = n//10
if buffer == rev:
    print("palindrom")
else:
    print("try again")

palindrom

# For Loop
- for (local variabel) in (object name):
      statements

In [38]:
for n in range(5):
    print(n,end = '')

01234

In [39]:
for x in range(5,51):
    print(x,end = '')

567891011121314151617181920212223242526272829303132333435363738394041424344454647484950

In [44]:
# here the first two digits represents the range limits where as 
# third number represents the skip of 2 
for i in range(5,50,2):
    print(i,end = "")
for k in range (5,35,5):
    print(k)
# As we can see number 5 is used for both the print statements

57911131517192123252729313335373941434547495
10
15
20
25
30

In [47]:
# when there are no limits to range it starts from zero
# range always ends one less than the max limit
for i in range(5):
    print(i,end = "")

01234

In [49]:
# this way range can also be reversed
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [50]:
# the same can be applied for the negitive numbers as well
for i in range(-15,0,2):
    print(i,end = "")

-15-13-11-9-7-5-3-1

# Data Structures in Python
- it stores the data in particular Object which make several operations simple
- for sorting, searching, storing
## The data structures are as follows
- List
  - a common data structure in python enclosed in "[]" 
  - every list item is seperated by a comma
  - list can be of same type  or different
- Tople
- Dictionary
- Set
-

In [53]:
# multiple data types in list
x = [1,"whatever", 2385.34, "yes"]
print(x)

[1, 'whatever', 2385.34, 'yes']

In [61]:
# we can also specify the range and length of the list object as follows
j = [1,2,3,4,5]
for g in range(-9,0,1):
    print(g,end = "")
for g in range(len(j)):
    print(j[g])

-9-8-7-6-5-4-3-2-11
2
3
4
5

In [8]:
 g = ["sdhgf","gsdkfj",2378, 23986]
 print(g[2])
 print(g[1])
 g[1] = "wioei" # updates the list with the given variable 
 print(g[1])
del g[1] # deletes the list object mentioned  
print(g)

2378
gsdkfj
wioei
['sdhgf', 2378, 23986]

In [23]:
d = [242,35,242,234,]
# List slicing its important
print(d[0:2])
# here 0,2 are the positions of the list objects
print(d[1:])
# here the list goes till the end starting from one
print(d[2:-1],type(d))

[242, 35]
[35, 242, 234]
[242] <class 'list'>

# Functions of List Objects
## works only with homogenious list of single data type ie., integers 
- print(len(d)) # gives you the count of the list items
- print(max(d)) # gives you the maximum of the list 
- print(min(d)) # gives you the minimum of the list 
- print(sum(d)) # gives you the sum of all the list items 
- print(sum(d)//len(d)) # gives you the "average" of the list
- print(d*2) # gives you the list objects twice

In [27]:
d = [242,35,242,234,]
print(len(d))
print(max(d))
print(min(d))
print(sum(d))
print(sum(d)//len(d))

4
242
35
753
188

# Methods of List Objects
- append() it will insert the new list item at the end of the list
- insert(par1,par2) where par1 is the index and par2 is the list item used to insert the list object at that particular position.

In [34]:
# append function
fk = [234,346,457,7857,346]
fk.append(4543)
print(fk)
fk.append(45)
print(fk)

[234, 346, 457, 7857, 346, 4543]
[234, 346, 457, 7857, 346, 4543, 45]

In [3]:
# insert function
vk = [234,45,234,345,238]
vk.insert(0,99)
print(vk)
vk.insert(3,897)
print(vk)

[99, 234, 45, 234, 345, 238]
[99, 234, 45, 897, 234, 345, 238]

In [3]:
# Day 09 .count is used to know the no of occurences of the object
vs = [34,36,234,6536,23,43,656,34,456,34]
vs.count(34)
print(vs.count(34))

3

In [26]:
# .reverse is used to reverse the order of the list objects
vj = [34,23,12,65,65]
vj.reverse()
print(vj)

[65, 65, 12, 23, 34]

In [27]:
# .sort is used to sort the list objects in acending order
gn = [2,3,4,6,2,1,6,4,67,4,3]
gn.sort 
print(gn)

[2, 3, 4, 6, 2, 1, 6, 4, 67, 4, 3]

In [29]:
#.pop () will delete the last list object where as when u specify it deletes particular list object
vds = [34,234,134,12,34,34,]
vds.pop()
print(vds)
vds.pop(0)
print(vds)
vds.pop(1)
print(vds)

[34, 234, 134, 12, 34]
[234, 134, 12, 34]
[234, 12, 34]

In [33]:
# .remove() this will remove the particular list object from left to right incase of similar list object 
vd = [2,4,6,4,4,67,7,3,5,7,7,4,6]
vd.remove(4)
print(vd)

[2, 6, 4, 4, 67, 7, 3, 5, 7, 7, 4, 6]

In [ ]:
# Day 10

# Binary Search
- binary search works only on unique and sorted lists
- this algorithum requires the search option from the middle index
- the process of linear search includes searching one list after the other starting from lists and returns after all the listsv
- different mid index formulas are used by the user
- Midindex = (rightindex + leftindex)/2 might end up in a loop when the list is huge
- Midindex = leftindex+(rightindex-leftindex)/2  mostly used by everyone

In [3]:
# Day 10-1 Binary search code
def binarySearch(li,taritem):
    leftindex,rightindex = 0, len(li) -1
    while leftindex <= rightindex :
        midindex = leftindex + (rightindex-leftindex)//2
        if li[midindex] == taritem :
            return midindex
        if li[midindex] < taritem :
            leftindex = midindex + 1
        else :
            rightindex = midindex - 1
    return -1
li = [1,6,11,21,25,32,45,99]
taritem = 23
res = binarySearch(li,taritem)
if res != -1:
    print('found')
else:
    print('not found')

not found

In [ ]:
# Practise
def bs(list,tar):
    while

In [8]:
var = input("hi whats your name ?")
if var == "venkata Krishna" :
    print("Hi welcome back master now you have the master control")
else:
    print("hi Mr.",var,"nice to meet you inorder to make any changes please gain admin access from venkata krishna")

Hi welcome back master now you have the master control

In [ ]:
name = input("hi pleas type your name")
print